
body {
    /* background-color: aquamarine; */
    background-image: url("../images/space.jpg");
}

.container {
    background-color: azure;
    color: black;
    height: 825px;
    width: 825px;
    margin-top: 200px;
    padding: 10px;
    text-align: center;
    
    

}

.hidden {

  position: fixed;
  text-align: center;
  margin: 100px;
  margin-left: 200px;
}


.row {

    text-align: center;
    padding: 8px;
}
  
  #end-page {
    display: none;
    text-align: center;
    margin-left: 210px;
  }
  
  #main-logo {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100% \9;
  }
  
  h1 {
    
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  #end-page p {
    font-size: 20px;
    /* font-weight: 700; */
  }
  
  #correct-answers {
    margin-top: 32px;
  }
  
  #question {
    margin: 8px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
  }
  
  footer {
    height: 30px;
    margin-top: 25px;
  }
  
  
  #timer {
    margin-top: 2px;
    margin-left: 30%;
    width: 300px;
    
  }
  
  #done-button {
    margin-top: 50px;
    width: 30px;
    text-align: center;

    
  }
  .col-md-8 {

    margin-top: 25px;
  }

  .form-check {
      display: inline;
      margin-block:5px;
      padding: 18px;
  }

  #questions-box {

    width: 700px;
      
  }

  /* .display-3 {

    padding-top: 2%;
  } */

h3 {

    margin-left: 10%;
    
}

#start-button {

  margin-top: 100%;
  margin-left: 50%;
  height:50px;
  width: 120px;
  font-size: 25px;

  
} 

#done-button {

   
    width: 120px;
    font-size: 25px; */
}
  